$font-stack: monospace
$primary-color: blue
$secondary-color: white

div
  .base
    font: 1.25rem $font-stack
    color: $primary-color
    background-color: $secondary-color
  .number
    display: inline-block
    width: 5rem
    text-align: center

button
  width: 3rem
